body {
  margin: 0;
  background-color: lightgray;
}

.header {
  width: 100%;
  height: 23vh;
  background-color: white;
  text-align: center;
}
i {
  font-size: 80px;
}

.header-name {
  font-size: 30px;
  margin: 0;
}

.icon-name {
  padding-top: 2vh;
}

.button-container {
  width: 100%;
  height: 100%;
}

.add-button {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0.5em;
  background: linear-gradient(to right, blue, violet);
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-style: solid;
  font-size: 40px;
}

/* Book adding section */

.adding-box {
  border: 1px solid black;
  width: 25em;
  height: 25em;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  background-color: white;
}

.newBook {
  text-align: center;
  font-size: 27px;
}

.form {
  text-align: center;
}
.add {
  margin: 1em;
}
.content {
  border: 1px solid black;
  width: 15em;
  height: 15em;
  margin: 1em;
  background-color: white;
}
